

.left_half{
    
    height: 70%;
    
}
.header{
    height:3%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 2%;
    background-color: #6B6B6B;
    color: azure;
    font-size: 1.4vw;
}
.title{
    text-align: center;
}
form{
    padding-top: 20%;
    font-size: 1.4vw;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.right_half{
    text-align: center;
    height: 60%;
    border: 2px ridge red;
    margin-top: 20%;
    margin-right:20%;
    margin-left: 20%;
}
.bu{
    margin-left: 40%;
    color: blue;
    font-size: 1vw;
}
#generate{
    background-color: aquamarine;
}
.mid_line{
    height: 100%;
    border-right: 1px solid black;
}